@{
    ViewData["Title"] = "Create User Page";
}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title>New User</title>
	
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/styles.css" />
	
</head>
<body>

		<section class="container" novalidate>
				<section class="login-form samp">
					<form method="post" action="" role="login" id="myform">
						<h3 class="text-dark text-center">New User</h3>
						<input type="text" name="user" placeholder="User" required class="form-control input-lg" />
						<input type="password" name="password" placeholder="Password" id="password" required class="form-control input-lg" />
						<input type="password" name="repeatpassword" placeholder="Repeat Password" id="confirm_password" required class="form-control input-lg" />
						<button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Create</button>
					</form>
				</section>
		</section>

	<script>
		var password = document.getElementById("password")
		, confirm_password = document.getElementById("confirm_password");

		function validatePassword(){
			if(password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
			} else {
				confirm_password.setCustomValidity('');
			}
		}
		password.onchange = validatePassword;
		confirm_password.onkeyup = validatePassword;
	</script>
</body>
</html>
